.content{
    text-align: center;
    color: aliceblue;
    display: block;
    
}
.content header,
.content text,
.content button{
    margin: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.content header {
    font-size: 50px;
    top: 45%;
    font-style:oblique;
}
.content Button{
    top: 60%;
}
.content text{
    color: rgb(245, 176, 86);
    font-style: italic;
}
.content button{
    top: 57%;
    border: none;
    border-radius: 20px;
    padding: 10px 13px;
    width: 110px;
    height: 40px;
    font-size: 16px;
    text-decoration: none;
    background-color:  rgb(245, 176, 86);
}

.content button:hover{
    background-color: rgb(136, 89, 1);
    transition: 0.5s;
    border: 1px solid rgba(255, 166, 0, 0.911);
}



